<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <button
      [url]="repoUrl"
      [title]="'Hello World'"
      [image]="imageUrl"
      [description]="description"
      shareButton="facebook"
      #fbBtn="shareButton"
    >
      facebook
    </button>
    <button
      [url]="repoUrl"
      [title]="'Hello World'"
      [image]="imageUrl"
      [description]="description"
      shareButton="twitter"
      #twtBtn="shareButton"
    >
      twitter
    </button>
  </div>
</ion-content>
